.page-header {
	padding: 3rem 0;
}

.page {
	background: #fff;
	border-top: 1px solid #eee;

	min-height: calc(100vh - 45.262rem);

	&__content {
		// margin-bottom: 3rem;
		p {
			margin-bottom: 1.5rem;
		}
	}
}
