.btn {
	background-color: #1c1e2a;
	color: #fff;
	display: flex;
	align-items: center;
	border-radius: 8px;
	font-weight: 300;
	padding: 1.2rem 1.5rem;
	font-size: 1.6rem;
	width: fit-content;
	letter-spacing: 0.01em;
	gap: 1rem;

	@media (min-width: 1200px) {
		padding: 1.5rem 2.5rem;
		font-size: 1.8rem;
	}

	@include on-event {
		color: #fff;
	}
}
