.social-icons {
  display: flex;
  padding: 0;
  width: max-content;

  &__item {
    &:not(:last-child) {
      margin-right: 1.2rem;
    }

    @media (max-width: 1200px) {
      margin-right: 0rem;
      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }
    }
  }

  &__link {
    display: block;
    display: flex;
    align-items: center;
  }
}
